* {
  font-family: 'New Tegomin', serif;
  color: #F75F1C;
  margin: 0;
}

/* ------ */
.landing{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/background2.jpg);
  background-position: center center;
  background-origin: content-box;
  background-size: cover;
  background-attachment: fixed;
  z-index: -2;
}

.lightning{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/background2.jpg);
  background-position: center center;
  background-origin: content-box;
  background-size: cover;
  background-attachment: fixed;
  -webkit-filter: brightness(3);
  filter: brightness(3);
  -o-filter: brightness(3);
  -moz-filter: brightness(3);
  z-index: -1;
}

.flashit{
-webkit-animation: flash ease-out 7s infinite;
-moz-animation: flash ease-out 7s infinite;
animation: flash ease-out 7s infinite;
animation-delay: 2s;
}

@-webkit-keyframes flash {
	from { opacity: 0; } 
  92% { opacity: 0; }
	93% { opacity: 0.6; }
  94% { opacity: 0.2; }
  96% { opacity: 0.9; } 
	to { opacity: 0; }
}

@keyframes flash {
	from { opacity: 0; } 
    92% { opacity: 0; }
	93% { opacity: 0.6; }
    94% { opacity: 0.2; }
    96% { opacity: 1; } 
	to { opacity: 0; }
}
/* ------ */

/* ------ */
.bat-container {
  width: 125px;
  height: 170px;
  margin: auto;
  bottom: 80px;
}
.pin-bottom {
  right: 0;
  bottom: 0;
  left: 0;
}
.bat-wrapper {
  position: absolute;
  height: 170px;
  width: 125px;
  animation: ease-in-out wiggle 7s 0s infinite alternate both;
}
.bat {
  background-size: 2250px 170px;
  background-image: url('https://www.mapbox.com/bites/00279/bat.svg');
  height: 170px;
  width: 125px;
  animation: flapping .4s steps(18) infinite alternate;
}

.bat-leg-1 {
  bottom: 54px;
  left: 55px;
  display: block;
  width: 4px;
  height: 15px;
  position: absolute;
  border-radius: 12px;
  background: #008dba;
  animation: ease-in-out leg 2s 0s infinite alternate both;
}
.bat-leg-2 {
  bottom: 54px;
  left: 65px;
  display: block;
  width: 4px;
  height: 15px;
  position: absolute;
  border-radius: 12px;
  background: #008dba;
  animation: ease-in-out leg2 2s 0s infinite alternate both;
}
@keyframes wiggle {
0% { transform: rotate( 0deg) translateY(-22px) scale(1.0); }
33% {
    transform: rotate( -10deg) translateY(0px) scale(1.05) translateX(-15px);
}
50% {
    transform: rotate( 0deg) translateY(7px) scale(1.0) translateX(5px);
}
66% {
    transform: rotate( 5deg) translateY(15px);
}
75% {
    transform: rotate( 0deg) translateY(8px);
}
100% {
    transform: rotate( 10deg) translateY(0px) translateX(-15px);
}
}
@-webkit-keyframes wiggle {
0% {
    transform: rotate( 0deg) translateY(-22px) scale(1.0);
}
33% {
    transform: rotate( -10deg) translateY(0px) scale(1.05) translateX(-15px);
}
50% {
    transform: rotate( 0deg) translateY(7px) scale(1.0) translateX(5px);
}
66% {
    transform: rotate( 5deg) translateY(15px);
}
75% {
    transform: rotate( 0deg) translateY(8px);
}
100% {
    transform: rotate( 10deg) translateY(0px) translateX(-15px);
}
}
@keyframes flapping {
100% {
    background-position: -2250px 0px;
}
}
@-webkit-keyframes flapping {
100% {
    background-position: -2250px 0px;
}
}
/* ------ */

/* ------ */
.outer {
  position: absolute;
  width: 100%;
  background-color: #333;
  top: 0;
  bottom: 0;
  margin: 0;
}
.loading {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}
#container {
  width: 100%;
  height: 400px;
  padding: 0;
  box-sizing: border-box;
  background: #333;
}
*:after,
*:before {
  box-sizing: inherit;
}
#spooky {
  margin: 10% auto;
  width: 80%;
  height: 80%;
  animation: floaty 2s infinite;
}

#spooky #body {
  position: relative;
  margin: 50px auto 0;
  width: 180px;
  height: 220px;
  background: #f2fbf1;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
}

#spooky #body:before,
#spooky #body:after {
  content: '';
  position: absolute;
  top: 130px;
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #f2fbf1;
  animation: floaty .2s infinite;
}

#spooky #body:before {
  left: -18px;
}

#spooky #body:after {
  right: -18px;
}

#spooky #body #eyes {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 90px 0 0;
  width: 90px;
  height: 20px;
}

#spooky #body #eyes:before,
#spooky #body #eyes:after {
  content: ' ';
  display: block;
  width: 30px;
  height: 30px;
  background: #252c49;
  border-radius: 50%;
}

#spooky #body #mouth {
  background: #252c49;
  margin: 25px auto 0;
  width: 60px;
  height: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#spooky #body #mouth:before {
  content: ' ';
  display: block;
  background: #fff;
  margin-left: 20px;
  width: 10px;
  height: 10px;
}

#spooky #body #feet {
  position: absolute;
  display: flex;
  bottom: -18px;
  width: 180px;
  height: 36px;
}

#spooky #body #feet > *,
#spooky #body #feet::before,
#spooky #body #feet::after {
  content: ' ';
  width: 36px;
  height: 36px;
  background: #f2fbf1;
  border-radius: 50%;
}

#shadow {
  margin: -90px auto 0;
  background: #000;
  width: 180px;
  height: 40px;
  border-radius: 50%;
  animation: zoomy 2s infinite;
}

@keyframes floaty {
  0%, 100% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-20px);
  }
}

@keyframes zoomy {
  0%, 100% {
      transform: scale(1);
  }

  50% {
      transform: scale(0.8);
  }
}
/* ------ */

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.header > h1 {
  font-size: 4rem;
}
.start-button {
  position: absolute;
  bottom: 30%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
.button {
  color: #85E21F;
  text-decoration: none;
  font-size: 5rem;
}
.button:hover {
  font-size: 5.5rem;
  transform: rotate(-15deg);
}

/* ----------------------------------------------- */

.gameContainer {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: url(./img/background2.jpg);
  background-size: cover;
  background-position: center;
}
.game1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 5px;
  stroke-linecap: round;
}
.figure-part {
  display: none;
}
.wrong-letters-container {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.wrong-letters-container p {
  margin: 0 0 5px;
}
.wrong-letters-container span {
  font-size: 24px;
}
.word-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 15%;
}
.word {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.word-btn {
  width: 8rem;
  height: 5rem;
  border: none;
  border-radius: 10px;
  background-color: #FF9A00;
  color: #881EE4;
  font-size: 3rem;
  text-align: center;
}
.word-btn:hover {
  background-color: #F75F1C;
}
.letter {
  border-bottom: 3px solid #85E21F;
  color: #85E21F;
  width: 2rem;
  display: inline-flex;
  font-size: 4rem;
  align-items: center;
  justify-content: center;
  margin: 0 0.3rem 0 0.3rem;
}
/* ----------------------------------------------- */

@media (max-width: 768px) {
  .gameContainer {
    background-image: url(./img/background.jpg);
    background-size: cover;
  }
  .landing {
    background-image: url(./img/background.jpg);
    background-size: cover;
  }
  .lightning{ 
    background-image: url(./img/background.jpg);
  }
  .header > h1 {
    font-size: 3rem;
  }
  .word-btn {
    width: 6rem;
    height: 3rem;
    font-size: 2rem;
  }
}