* {
  font-family: 'New Tegomin', serif;
  color: #F75F1C;
  margin: 0;
}

.landing {
  position: absolute;
  top: 0;
  bottom: 0; 
  width: 100%;
  background-image: url(./img/background2.jpg);
  background-size: cover;
  background-position: center;
}
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.header > h1 {
  font-size: 4rem;
}
.start-button {
  position: relative;
  top: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
.button {
  color: #85E21F;
  text-decoration: none;
  font-size: 5rem;
}
.button:hover {
  font-size: 5.5rem;
  transform: rotate(-15deg);
}

.gameContainer {
  height: 100%;
  width: 100%;
  background-image: url(./img/background2.jpg);
  background-size: cover;
  background-position: center;
}

/* ----------------------------------------------- */

@media (max-width: 768px) {
  .gameContainer {
    background-image: url(./img/background.jpg);
    background-size: cover;
  }
  .landing {
    background-image: url(./img/background.jpg);
    background-size: cover;
  }
  .header > h1 {
    font-size: 3rem;
  }
}